@CHARSET "UTF-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0px;	
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 30px;
	
	background-color: #545454;
	color: #fff;
	
	box-shadow: 0px 4px 4px #ccc;
}

header > div {
	margin-left: 10px;
}

#conteudo {
	padding: 0px 10px;
}

footer {
	text-align: center;
	margin-bottom: 10px;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 10px;
	padding: 10px;
}

.rotulo {
	width: 150px;
}

.ui-panelgrid td {
	height: 34px;
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px;
}
